<a href="https://colab.research.google.com/github/yoon-122/Ozcoding-School-15/blob/main/Chapter09_~_13_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter09 ~ 13 수업은 잘 들으셨나요?

Chapter09 ~ 13의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


[답변 입력 방법]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후 ▷ 버튼을 클릭해 코드를 실행 해보세요

문제0]오즈 코딩 스쿨 백엔드 8기 과정에 참여한 수강생 중 3명의 수강생이 자율적으로 스터디 그룹을 결성했습니다.

스터디 그룹 내에는 한 주간 배운 내용으로 매주 쪽지 시험을 보는 룰이 있습니다. 점수는 채점자 마음입니다.

쪽지 시험의 점수를 직접 입력받고, 점수의 합을 출력해주세요!

In [15]:
score1 = int(input("First student score: "))
score2 = int(input("Second student score: "))
score3 = int(input("Third student score: "))
total = score1 + score2 + score3
print(f"Total score: {total}")

First student score: 50
Second student score: 60
Third student score: 70
Total score: 180

문제1] movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.

"비밀"을 "나폴레옹"과 "괴물" 사이에 추가해주세요

In [2]:
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
movie.insert(2, '비밀')
print(movie)

['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']

[문제1-2]movie_rank 리스트에서 '베트맨'를 삭제해주세요

In [3]:
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
movie.remove('베트맨')
print(movie)

['서울의 봄', '나폴레옹', '비밀', '괴물']

[문제2] [언어1]과 [언어2] 리스트가 있을 때 언어1과 언어2의 원소를 모두 갖고 있는 [언어모음]이라는 list를 만들어주세요

In [16]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
언어모음 = lang1 + lang2
print("언어모음:")
print(언어모음)

언어모음:
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

[문제3]다음 리스트에서 최댓값과 최솟값, 그리고 평균을 출력해주세요.

In [26]:
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
print(f'최댓값={max(nums)}, 최솟값={min(nums)}, 평균={int(sum(nums)/(len(nums)))}')

최댓값=10, 최솟값=1, 평균=5

[문제4] 다음 리스트에 저장된 데이터의 개수를 화면에 구해주세요

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]

In [27]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]
print(len(cook))

8

[문제5] price 변수에는 날짜와 종가 정보가 저장돼 있습니다. 날짜 정보를 제외하고 가격 정보만을 출력해주세요

price = ['20180728', 100, 130, 140, 150, 160, 170]

In [7]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

문제6] 다음 딕셔너리를 사용하여 메로나 가격을 출력해주세요
ice = {'메로나': 1000,
    '폴로포': 1200,
    '빵빠레': 1800,
    '죠스바': 1200,
    '월드콘': 1500}

In [28]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print(ice['메로나'])

1000

[문제6-1] 다음 딕셔너리에서 메로나의 가격을 1300으로 수정해주세요

ice = {'메로나': 1000,
    '폴로포': 1200,
    '빵빠레': 1800,
    '죠스바': 1200,
    '월드콘': 1500}

In [10]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

[문제7] - 딕셔너리 만들기
아래 순서대로 주어진 수강생 이름과 등급을 하나의 딕셔너리로 만드는 코드를 작성해주세요

names : 나이썬, 김자바, 김씨, 박씨샵
grades : B B A C

In [29]:
dic = {
    "name" : ["나이썬", "김자바", "김씨", "박씨샵"],
    "grades" : ["B", "B", "A", "C"]
}

print(dic)

#정답
name = ["나이썬", "김자바", "김씨", "박씨샵"]
grades = ["B", "B", "A", "C"]

dic1 = dict(zip(name, grades))
print(dic1)

{'name': ['나이썬', '김자바', '김씨', '박씨샵'], 'grades': ['B', 'B', 'A', 'C']}
{'나이썬': 'B', '김자바': 'B', '김씨': 'A', '박씨샵': 'C'}

[문제8] 아래 ice 딕셔너리에 데이터를 추가 후 출력해주세요

ice = {"메로나": [300, 20],
"비비빅": [400, 3],
"죠스바": [250, 100]}

추가해야하는 데이터) 이름 : 보석바, 가격:650, 재고:10

In [12]:
ice = {"메로나": [300, 20],
       "비비빅": [400, 3],
       "죠스바": [250, 100]}
ice["보석바"] = [650, 10]
print(ice)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '보석바': [650, 10]}

[문제9] 아래 딕셔너리에서 key만 list 형태로 출력해주세요

ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [13]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
print(list(ice.keys()))

['메로나', '폴로포', '빵빠레', '죠스바', '월드콘']