<a href="https://colab.research.google.com/github/yoon-122/Ozcoding-School-15/blob/main/Chapter21_~_32%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


[답변 입력 방법]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후 ▷ 버튼을 클릭해 코드를 실행 해보세요

----


[문제 1] 사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [ ]:
def greet_user():
    A = input("이름과 나이를 순서대로,를 사용해 입력해주세요: "). split(",")
    이름 = A[0]
    나이 = A[1]
    print(f"안녕하세요, {이름}님! 당신은 {나이}살입니다.")

greet_user()

이름과 나이를 순서대로,를 사용해 입력해주세요: 윤영훈, 26
안녕하세요, 윤영훈님! 당신은  26살입니다.

----

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [ ]:
def sum_nubers(*num):
    num = map(int,input("더하실 숫자를 콤마로 구분하여 작성해 주세요").split(","))
    return sum(num)
sum_nubers()

더하실 숫자를 콤마로 구분하여 작성해 주세요1,15,16,78,15

125

----

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [ ]:
def print_name(name="익명"):
    이름 = input("사용자의 이름을 입력하세요")
    if 이름 != "":
        name = 이름
    print(name)
print_name()

사용자의 이름을 입력하세요 익명
 익명

----

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [20]:
def print_info(*, name="이름", age="나이", gender="성별"):
    print(f"{name},{age},{gender}")

print_info(name="윤영훈", age="26", gender="남자")
print_info()

윤영훈,26,남자
이름,나이,성별

----

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [ ]:
def add(a: int, b: int) -> int:
    return a + b

result = add(5, 3)
print(f"결과: {result}")

결과: 8

----

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [ ]:
def odd_numbers(n):
    for i in range(n + 1):
        if i % 2 == 1:
            yield i

# 사용 예시
for odd in odd_numbers(10):
    print(odd, end=" ")

1 3 5 7 9

----

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [ ]:
add_lambda = lambda x, y: x + y

result = add_lambda(10, 20)
print(f"람다 함수 결과: {result}")

람다 함수 결과: 30

----

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [ ]:
def min_max():
    num1 = int(input("첫 번째 숫자: "))
    num2 = int(input("두 번째 숫자: "))
    num3 = int(input("세 번째 숫자: "))

    numbers = (num1, num2, num3)
    print(f"최소값: {min(numbers)}")
    print(f"최대값: {max(numbers)}")

min_max()

첫 번째 숫자: 1
두 번째 숫자: 50
세 번째 숫자: 15
최소값: 1
최대값: 50

----

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [ ]:
def is_even(number):
    if number % 2 == 0:
        return True
    return False

print(is_even(4))  # True
print(is_even(3))  # False

True
False

----

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [ ]:
def factorial(n):
    if n <= 1:
        return 1
    return n * factorial(n - 1)

result = factorial(5)
print(f"5! = {result}")

5! = 120

----

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [ ]:
def print_lengths(strings):
    for string in strings:
        print(f"'{string}'의 길이: {len(string)}")

words = ["진짜", "파이썬", "이거", "쉽지않네요.."]
print_lengths(words)

'진짜'의 길이: 2
'파이썬'의 길이: 3
'이거'의 길이: 2
'쉽지않네요..'의 길이: 7

----

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [ ]:
def longer_string(str1, str2):
    if len(str1) >= len(str2):
        return str1
    else:
        return str2

result = longer_string("맞는지는", "모르겠습니다")
print(f"더 긴 문자열: {result}")

더 긴 문자열: 모르겠습니다