<a href="https://colab.research.google.com/github/yoon-122/Ozcoding-School-15/blob/main/DataBase_Day_3_%E1%84%80%E1%85%AA%E1%84%8C%E1%85%A6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter14_20 과제

## 목표
테이블에 데이터 생성, 읽기, 갱신, 삭제하는 코드를 직접 작성해 보기

## 복습할 개념 체크 리스트
- CREATE(생성)
- READ(읽기)
- UPDATE(갱신)
- DELETE(삭제)

---

## 1. employees 테이블 생성

**속성 정의:**
- `id`: 자료형은 `INT`입니다. 자동으로 1씩 증가하도록 설정하고 기본키로 지정합니다.
- `name`: 자료형은 `VARCHAR(100)`입니다.
- `position`: 자료형은 `VARCHAR(100)`입니다.
- `salary`: 자료형은 `DECIMAL(10, 2)`입니다.

In [ ]:
import sqlite3

# 데이터베이스 연결 (메모리에 생성)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# employees 테이블 생성
cursor.execute('''
    CREATE TABLE employees (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name VARCHAR(100),
        position VARCHAR(100),
        salary DECIMAL(10, 2)
    )
''')

print("employees 테이블이 생성되었습니다!")
conn.commit()

---

## 2. 직원 데이터를 employees 테이블에 추가

다음 직원 데이터를 추가해주세요:
- 이름: 혜린, 직책: PM, 연봉: 90000
- 이름: 은우, 직책: Frontend, 연봉: 80000
- 이름: 가을, 직책: Backend, 연봉: 92000
- 이름: 지수, 직책: Frontend, 연봉: 78000
- 이름: 민혁, 직책: Frontend, 연봉: 96000
- 이름: 하온, 직책: Backend, 연봉: 130000

In [ ]:
# 직원 데이터 추가
employees_data = [
    ('혜린', 'PM', 90000),
    ('은우', 'Frontend', 80000),
    ('가을', 'Backend', 92000),
    ('지수', 'Frontend', 78000),
    ('민혁', 'Frontend', 96000),
    ('하온', 'Backend', 130000)
]

cursor.executemany('''
    INSERT INTO employees (name, position, salary)
    VALUES (?, ?, ?)
''', employees_data)

print(f"{len(employees_data)}명의 직원 데이터가 추가되었습니다!")
conn.commit()

# 확인: 모든 직원 조회
cursor.execute('SELECT * FROM employees')
results = cursor.fetchall()
print("\n=== 현재 직원 목록 ===")
for row in results:
    print(f"ID: {row[0]}, 이름: {row[1]}, 직책: {row[2]}, 연봉: {row[3]}")

---

## 3. 모든 직원의 이름과 연봉 정보만을 조회

모든 직원의 이름과 연봉 정보만을 조회하는 쿼리를 작성해주세요.

In [ ]:
# 모든 직원의 이름과 연봉 조회
cursor.execute('SELECT name, salary FROM employees')
results = cursor.fetchall()

print("=== 모든 직원의 이름과 연봉 ===")
for row in results:
    print(f"이름: {row[0]}, 연봉: {row[1]}")

---

## 4. Frontend 직책을 가진 직원 중에서 연봉이 90000 이하인 직원의 이름과 연봉을 조회

Frontend 직책을 가진 직원 중에서 연봉이 90000 이하인 직원의 이름과 연봉을 조회하세요.

In [ ]:
# Frontend 직책 중 연봉 90000 이하인 직원 조회
cursor.execute('''
    SELECT name, salary
    FROM employees
    WHERE position = 'Frontend' AND salary <= 90000
''')
results = cursor.fetchall()

print("=== Frontend 직책 중 연봉 90000 이하인 직원 ===")
for row in results:
    print(f"이름: {row[0]}, 연봉: {row[1]}")

---

## 5. PM 직책을 가진 모든 직원의 연봉을 10% 인상한 후 그 결과를 확인

PM 직책을 가진 모든 직원의 연봉을 10% 인상한 후 그 결과를 확인하세요.

In [ ]:
# PM 직책 직원의 연봉 10% 인상
cursor.execute('''
    UPDATE employees
    SET salary = salary * 1.1
    WHERE position = 'PM'
''')

print(f"PM 직책 직원의 연봉이 10% 인상되었습니다. (변경된 행 수: {cursor.rowcount})")
conn.commit()

# 결과 확인
cursor.execute('SELECT * FROM employees WHERE position = "PM"')
results = cursor.fetchall()

print("\n=== PM 직책 직원 정보 (인상 후) ===")
for row in results:
    print(f"ID: {row[0]}, 이름: {row[1]}, 직책: {row[2]}, 연봉: {row[3]}")

---

## 6. 모든 Backend 직책을 가진 직원의 연봉을 5% 인상

모든 Backend 직책을 가진 직원의 연봉을 5% 인상하세요.

In [ ]:
# Backend 직책 직원의 연봉 5% 인상
cursor.execute('''
    UPDATE employees
    SET salary = salary * 1.05
    WHERE position = 'Backend'
''')

print(f"Backend 직책 직원의 연봉이 5% 인상되었습니다. (변경된 행 수: {cursor.rowcount})")
conn.commit()

# 결과 확인
cursor.execute('SELECT * FROM employees WHERE position = "Backend"')
results = cursor.fetchall()

print("\n=== Backend 직책 직원 정보 (인상 후) ===")
for row in results:
    print(f"ID: {row[0]}, 이름: {row[1]}, 직책: {row[2]}, 연봉: {row[3]}")

---

## 7. 민혁 사원의 데이터를 삭제

민혁 사원의 데이터를 삭제하세요.

In [ ]:
# 민혁 사원 데이터 삭제
cursor.execute('''
    DELETE FROM employees
    WHERE name = '민혁'
''')

print(f"민혁 사원의 데이터가 삭제되었습니다. (삭제된 행 수: {cursor.rowcount})")
conn.commit()

# 확인: 모든 직원 조회
cursor.execute('SELECT * FROM employees')
results = cursor.fetchall()

print("\n=== 현재 직원 목록 (민혁 삭제 후) ===")
for row in results:
    print(f"ID: {row[0]}, 이름: {row[1]}, 직책: {row[2]}, 연봉: {row[3]}")

---

## 8. 모든 직원을 position 별로 그룹화하여 각 직책의 평균 연봉을 계산

모든 직원을 position 별로 그룹화하여 각 직책의 평균 연봉을 계산하세요.

In [ ]:
# position별 평균 연봉 계산
cursor.execute('''
    SELECT position, AVG(salary) AS average_salary
    FROM employees
    GROUP BY position
''')
results = cursor.fetchall()

print("=== 직책별 평균 연봉 ===")
for row in results:
    print(f"직책: {row[0]}, 평균 연봉: {row[1]:.2f}")

---

## 9. employees 테이블을 삭제

employees 테이블을 삭제하세요.

In [ ]:
# employees 테이블 삭제
cursor.execute('DROP TABLE employees')

print("employees 테이블이 삭제되었습니다!")
conn.commit()

# 연결 종료
conn.close()
print("데이터베이스 연결이 종료되었습니다.")