<a href="https://colab.research.google.com/github/yoon-122/Ozcoding-School-15/blob/main/DataBase_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[문제10]
데이터 제어 언어(DCL)인 GRANT에 대한 설명으로 옳은 것을 골라주세요

	•	사용자에게 특정 작업을 수행할 권한을 부여한다.
	•	사용자로부터 특정 작업 수행 권항을 제거한다.
	•	다른 사용자에게 동일한 권한을 전달할때 사용한다.
	•	부여된 권한 중 일부를 제한할때 사용한다.

정답 : 사용자에게 특정 작업을 수행할 권한을 부여한다.

----

[문제11]
테이블을 생성하기 위해서 사용되는 sql문을 선택해주세요

	•	CREATE TABLE
	•	CREATE NEW TABLE
	•	ADD TABLE
	•	UPDATE TABLE

정답 : CREATE TABLE

----

[문제12]
테이블 생성 시 컬럼(속성)에 값이 항상 존재하도록 설정하는 명령어를 선택해주세요

	•	IS NULL
	•	NOT NULL
	•	IN NULL
	•	NULL

정답 : NOT NULL

----

[문제13]
테이블 생성 시 컬럼(속성)에 중복된 값을 허용하지 않도록 설정하는 명령어를 모두 선택해주세요

	•	UNIQUE
	•	DEFAULT False
	•	PRIMARY KEY
	•	AUTO_INCREMENT

정답 : UNIQUE, PRIMARY KEY

----

[문제14]
데이터베이스의 숫자형 데이터 타입이 아닌것을 선택해주세요

	•	BIT
	•	INT
	•	CHAR
	•	BIGINT

	정답 : CHAR

----

[문제15]
날짜와 시간을 같이 나타내는 데이터 타입을 선택해주세요

	•	DATE
	•	TIME
	•	DATETIME

정답 : DATETIME

----

[문제16]
CHAR과 VARCHAR의 차이로 옳은 것을 선택해 주세요

	•	저장할 수 있는 데이터 종류(문자, 숫자)가 다름
	•	데이터를 담을 수 있는 공간이 고정인지 가변인지의 차이
	•	문자열 값을 정수로 표현할 수 있는지의 차이
	•	한번 입력된 데이터의 수정 여부의 차이

정답 : 데이터를 담을 수 있는 공간이 고정인지 가변인지의 차이

----

문제17]
데이터베이스 내의 트랜잭션을 관리하는데 사용되는 언어를 선택해주세요

	•	DCL
	•	DML
	•	TCL
	•	DDL

	정답 : TCL

[문제18]
칼럼에 저장될 수 있는 값의 범위나 조건을 지정하는 명령어를 선택해주세요

	•	IN
	•	WHERE
	•	CHECK
	•	ON

	정답 : CHECK

프로젝트 개요
이 프로젝트는 사용자 정보와 주문 정보를 관리하는 간단한 데이터베이스 시스템을 구축하는 것입니다.
이를 통해 MySQL의 사용자 관리, 테이블 생성, 데이터 타입, 제약 조건 등을 실습할 수 있습니다.
프로젝트 구성

	1	MySQL 사용자 생성 및 권한 부여
	2	데이터베이스와 테이블 생성

과제 1: MySQL 사용자 생성 및 권한 부여
목표: MySQL에서 새로운 사용자를 생성하고, 권한을 부여합니다.
개념 설명:

	•	MySQL 사용자: 데이터베이스에 접근하고 작업을 수행할 수 있는 계정을 의미합니다.
	•	권한 부여: 특정 사용자에게 데이터베이스와 테이블에 대해 작업할 수 있는 권한을 부여합니다.
세부 내용:

	1	MySQL에 root 사용자로 로그인:
	•	mysql -u root -p 명령어를 사용하여 MySQL에 로그인합니다.
	•	이 명령어는 MySQL의 관리자 계정인 root로 로그인하며, 비밀번호를 입력해야 합니다.
	2	새로운 MySQL 사용자 생성:
	•	CREATE USER 'username'@'localhost' IDENTIFIED BY 'password'; 명령어를 사용하여 새로운 사용자를 생성합니다.
	•	예시: 붕어빵 가게의 데이터베이스 관리를 위해 fishbread_user라는 사용자를 생성합니다.
	•	username에는 새 사용자의 이름, password에는 사용자의 비밀번호를 입력합니다.
	3	사용자에게 권한 부여:
	•	GRANT ALL PRIVILEGES ON . TO 'username'@'localhost'; 명령어를 사용하여 새 사용자에게 모든 데이터베이스와 테이블에 대한 모든 권한을 부여합니다.
	•	권한을 부여한 후, FLUSH PRIVILEGES; 명령어를 사용하여 변경된 권한을 적용합니다.
	4	부여된 권한 확인:
	•	SHOW GRANTS FOR 'username'@'localhost'; 명령어를 사용하여 새 사용자에게 부여된 권한을 확인합니다.
	•	SHOW GRANTS; 명령어를 사용하여 현재 로그인한 사용자의 권한을 확인할 수도 있습니다.

1	MySQL에 root 사용자로 로그인:

	•	mysql -u root -p 명령어를 사용하여 MySQL에 로그인합니다.
	•	이 명령어는 MySQL의 관리자 계정인 root로 로그인하며, 비밀번호를 입력해야 합니다.

실습

1번 mysql -u root -p

2번 create user 'yoon-admin'@'localhost' identified by 'password';

3번
grant all privileges on . to 'yoon-admin'@'localhost';
grant all privileges on [데이터베이스명].[테이블명] to 'yoon-admin'@'localhost';
FLUSH PRIVILEGES;

4번 show grants for 'yoon-admin'@'localhost'; show grants;

----

과제 2: 데이터베이스와 테이블 생성
목표: 사용자와 주문 정보를 저장할 데이터베이스와 테이블을 생성합니다.
개념 설명:

	•	데이터베이스: 데이터를 체계적으로 관리하는 공간입니다.
	•	테이블: 데이터베이스 내에서 데이터를 저장하는 구조입니다.
데이터베이스 및 테이블 설계

	1	데이터베이스 생성:
	•	CREATE DATABASE fishbread_db; 명령어를 사용하여 붕어빵 가게의 데이터를 저장할 데이터베이스를 생성합니다.
	•	USE fishbread_db; 명령어를 사용하여 생성한 데이터베이스를 사용합니다.
	2	users 테이블 생성:
	•	사용자 정보를 저장하는 테이블을 생성합니다.
	•	user_id(INT, PRIMARY KEY, AUTO_INCREMENT): 사용자의 고유 ID
	•	name(VARCHAR(255), NOT NULL): 사용자 이름
	•	age(INT, NOT NULL): 사용자 나이
	•	email(VARCHAR(100), UNIQUE): 사용자 이메일
	•	is_business(BOOLEAN DEFAULT FALSE): 비즈니스 유무(기본값 FALSE)
	3	orders 테이블 생성:
	•	주문 정보를 저장하는 테이블을 생성합니다.
	•	order_id(INT, PRIMARY KEY, AUTO_INCREMENT): 주문의 고유 ID
	•	user_id(INT, FOREIGN KEY): 주문한 사용자의 ID (users 테이블의 user_id와 참조 관계)
	•	order_date(DATE): 주문 날짜
	•	amount(DECIMAL(10, 2)): 주문 금액
	4	inventory 테이블 생성:
	•	재고 정보를 저장하는 테이블을 생성합니다.
	•	item_id(INT, PRIMARY KEY, AUTO_INCREMENT): 재고 항목의 고유 ID
	•	item_name(VARCHAR(255), NOT NULL): 재고 항목 이름
	•	quantity(INT, NOT NULL): 재고 수량
	5	sales 테이블 생성:
	•	판매 정보를 저장하는 테이블을 생성합니다.
	•	sale_id(INT, PRIMARY KEY, AUTO_INCREMENT): 판매의 고유 ID
	•	order_id(INT, FOREIGN KEY): 주문 ID (orders 테이블의 order_id와 참조 관계)
	•	item_id(INT, FOREIGN KEY): 재고 항목의 ID (inventory 테이블의 item_id와 참조 관계)
	•	quantity_sold(INT, NOT NULL): 판매된 수량
	6	daily_sales 테이블 생성:
	•	일 매출 정보를 저장하는 테이블을 생성합니다.
	•	date(DATE, PRIMARY KEY): 날짜
	•	total_sales(DECIMAL(10, 2), NOT NULL): 총 매출

In [17]:
# 비밀번호 설정 (명령어를 따로 실행)
!mysql -u root -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root123';"
!mysql -u root -e "FLUSH PRIVILEGES;"

# 테스트
!mysql -u root -proot123 -e "SELECT '비밀번호 설정 완료!' AS status;"

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
mysql: [Warning] Using a password on the command line interface can be insecure.
+-----------------------------+
| status                      |
+-----------------------------+
| 비밀번호 설정 완료!         |
+-----------------------------+

In [18]:
!mysql -u root -proot123 -e "USE mysql; CREATE USER IF NOT EXISTS 'fishbread_user'@'localhost' IDENTIFIED BY 'password123';"
!mysql -u root -proot123 -e "GRANT ALL PRIVILEGES ON *.* TO 'fishbread_user'@'localhost';"
!mysql -u root -proot123 -e "FLUSH PRIVILEGES;"
!mysql -u root -proot123 -e "SHOW GRANTS FOR 'fishbread_user'@'localhost';"

mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Grants for fishbread_user@localhost                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `fishbread_user`@`localhost`                                                                                                                                                                                                                                                                                                                                                                                     |
| GRANT APPLICATION_PASSWORD_ADMIN,AUDIT_ABORT_EXEMPT,AUDIT_ADMIN,AUTHENTICATION_POLICY_ADMIN,BACKUP_ADMIN,BINLOG_ADMIN,BINLOG_ENCRYPTION_ADMIN,CLONE_ADMIN,CONNECTION_ADMIN,ENCRYPTION_KEY_ADMIN,FIREWALL_EXEMPT,FLUSH_OPTIMIZER_COSTS,FLUSH_STATUS,FLUSH_TABLES,FLUSH_USER_RESOURCES,GROUP_REPLICATION_ADMIN,GROUP_REPLICATION_STREAM,INNODB_REDO_LOG_ARCHIVE,INNODB_REDO_LOG_ENABLE,PASSWORDLESS_USER_ADMIN,PERSIST_RO_VARIABLES_ADMIN,REPLICATION_APPLIER,REPLICATION_SLAVE_ADMIN,RESOURCE_GROUP_ADMIN,RESOURCE_GROUP_USER,ROLE_ADMIN,SENSITIVE_VARIABLES_OBSERVER,SERVICE_CONNECTION_ADMIN,SESSION_VARIABLES_ADMIN,SET_USER_ID,SHOW_ROUTINE,SYSTEM_USER,SYSTEM_VARIABLES_ADMIN,TABLE_ENCRYPTION_ADMIN,TELEMETRY_LOG_ADMIN,XA_RECOVER_ADMIN ON *.* TO `fishbread_user`@`localhost` |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [19]:
!mysql -u root -proot123 -e "CREATE DATABASE IF NOT EXISTS fishbread_db;"
!mysql -u root -proot123 -e "SHOW DATABASES;"

mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| fishbread_db       |
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

In [20]:
!mysql -u root -proot123 fishbread_db -e "CREATE TABLE IF NOT EXISTS users (user_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255) NOT NULL, age INT NOT NULL, email VARCHAR(100) UNIQUE, is_business BOOLEAN DEFAULT FALSE);"
!mysql -u root -proot123 fishbread_db -e "DESCRIBE users;"

mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
+-------------+--------------+------+-----+---------+----------------+
| Field       | Type         | Null | Key | Default | Extra          |
+-------------+--------------+------+-----+---------+----------------+
| user_id     | int          | NO   | PRI | NULL    | auto_increment |
| name        | varchar(255) | NO   |     | NULL    |                |
| age         | int          | NO   |     | NULL    |                |
| email       | varchar(100) | YES  | UNI | NULL    |                |
| is_business | tinyint(1)   | YES  |     | 0       |                |
+-------------+--------------+------+-----+---------+----------------+

In [21]:
!mysql -u root -proot123 fishbread_db -e "CREATE TABLE IF NOT EXISTS inventory (item_id INT AUTO_INCREMENT PRIMARY KEY, item_name VARCHAR(255) NOT NULL, quantity INT NOT NULL);"
!mysql -u root -proot123 fishbread_db -e "DESCRIBE inventory;"

mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
+-----------+--------------+------+-----+---------+----------------+
| Field     | Type         | Null | Key | Default | Extra          |
+-----------+--------------+------+-----+---------+----------------+
| item_id   | int          | NO   | PRI | NULL    | auto_increment |
| item_name | varchar(255) | NO   |     | NULL    |                |
| quantity  | int          | NO   |     | NULL    |                |
+-----------+--------------+------+-----+---------+----------------+

In [22]:
!mysql -u root -proot123 fishbread_db -e "CREATE TABLE IF NOT EXISTS sales (sale_id INT AUTO_INCREMENT PRIMARY KEY, order_id INT, item_id INT, quantity_sold INT NOT NULL, FOREIGN KEY (order_id) REFERENCES orders(order_id), FOREIGN KEY (item_id) REFERENCES inventory(item_id));"
!mysql -u root -proot123 fishbread_db -e "DESCRIBE sales;"

mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 1824 (HY000) at line 1: Failed to open the referenced table 'orders'
mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 1146 (42S02) at line 1: Table 'fishbread_db.sales' doesn't exist

In [23]:
!mysql -u root -proot123 fishbread_db -e "CREATE TABLE IF NOT EXISTS daily_sales (date DATE PRIMARY KEY, total_sales DECIMAL(10, 2) NOT NULL);"
!mysql -u root -proot123 fishbread_db -e "DESCRIBE daily_sales;"

mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
+-------------+---------------+------+-----+---------+-------+
| Field       | Type          | Null | Key | Default | Extra |
+-------------+---------------+------+-----+---------+-------+
| date        | date          | NO   | PRI | NULL    |       |
| total_sales | decimal(10,2) | NO   |     | NULL    |       |
+-------------+---------------+------+-----+---------+-------+

In [24]:
!mysql -u root -proot123 fishbread_db -e "SHOW TABLES;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+------------------------+
| Tables_in_fishbread_db |
+------------------------+
| daily_sales            |
| inventory              |
| users                  |
+------------------------+