<a href="https://colab.research.google.com/github/yoon-122/Ozcoding-School-15/blob/main/DataBase_Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ë°˜ë ¤ë™ë¬¼ í˜¸í…” ì˜ˆì•½ ì‹œìŠ¤í…œ DB ì„¤ê³„
## Chapter 22_23 ë¬¸ì œ í’€ê¸°

### ê³¼ì œ ëª©í‘œ
- í…Œì´ë¸”ì— ë°ì´í„° ìƒì„±, ì½ê¸°, ê°±ì‹ , ì‚­ì œí•˜ëŠ” ì½”ë“œ ì§ì ‘ ì‘ì„±í•´ ë³´ê¸°
- ë¬¸ì œ 2: SQL CREATE TABLE ë¬¸ ì‘ì„±
- ë¬¸ì œ 3: INSERT ë¬¸ìœ¼ë¡œ ë°ì´í„° ì‚½ì…

In [1]:
# í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ import
import sqlite3
import pandas as pd

print("âœ… ë¼ì´ë¸ŒëŸ¬ë¦¬ import ì™„ë£Œ!")

âœ… ë¼ì´ë¸ŒëŸ¬ë¦¬ import ì™„ë£Œ!

In [2]:
# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° (ë©”ëª¨ë¦¬ì— ìƒì„±)
conn = sqlite3.connect(':memory:')  # ë©”ëª¨ë¦¬ì— ë°ì´í„°ë² ì´ìŠ¤ ìƒì„±
cursor = conn.cursor()

print("âœ… ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì™„ë£Œ!")

âœ… ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì™„ë£Œ!

## ë¬¸ì œ 2: í…Œì´ë¸” ìƒì„± (CREATE TABLE)

ë‹¤ìŒ 5ê°œì˜ í…Œì´ë¸”ì„ ìƒì„±í•©ë‹ˆë‹¤:
1. PetOwners - ë°˜ë ¤ë™ë¬¼ ì£¼ì¸ í…Œì´ë¸”
2. Pets - ë°˜ë ¤ë™ë¬¼ í…Œì´ë¸”
3. Rooms - ê°ì‹¤ í…Œì´ë¸”
4. Reservations - ì˜ˆì•½ í…Œì´ë¸”
5. Services - ì„œë¹„ìŠ¤ í…Œì´ë¸”

In [3]:
# â‘  ë°˜ë ¤ë™ë¬¼ ì£¼ì¸ í…Œì´ë¸” (PetOwners Table)
# ë¬¸ì œ: ë°˜ë ¤ë™ë¬¼ í˜¸í…” ì˜ˆì•½ ì‹œìŠ¤í…œì—ì„œ ê³ ê°(ë°˜ë ¤ë™ë¬¼ ì£¼ì¸) ì •ë³´ë¥¼ ì €ì¥í•˜ëŠ” í…Œì´ë¸” ìƒì„±

create_pet_owners = """
CREATE TABLE PetOwners (
    ownerID INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    contact TEXT
);
"""

cursor.execute(create_pet_owners)
print("âœ… PetOwners í…Œì´ë¸” ìƒì„± ì™„ë£Œ!")
print("   - ownerID: ì£¼ì¸ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)")
print("   - name: ì£¼ì¸ ì´ë¦„ (í•„ìˆ˜)")
print("   - contact: ì—°ë½ì²˜")

âœ… PetOwners í…Œì´ë¸” ìƒì„± ì™„ë£Œ!
   - ownerID: ì£¼ì¸ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)
   - name: ì£¼ì¸ ì´ë¦„ (í•„ìˆ˜)
   - contact: ì—°ë½ì²˜

In [4]:
# â‘¡ ë°˜ë ¤ë™ë¬¼ í…Œì´ë¸” (Pets Table)
# ë¬¸ì œ: ë°˜ë ¤ë™ë¬¼ ì •ë³´ë¥¼ ì €ì¥í•˜ëŠ” í…Œì´ë¸” ìƒì„±
# í•œ ê³ ê°ì´ ì—¬ëŸ¬ ë°˜ë ¤ë™ë¬¼ì„ ê°€ì§ˆ ìˆ˜ ìˆìœ¼ë¯€ë¡œ PetOwnersì™€ 1:N ê´€ê³„

create_pets = """
CREATE TABLE Pets (
    petID INTEGER PRIMARY KEY AUTOINCREMENT,
    ownerID INTEGER NOT NULL,
    name TEXT NOT NULL,
    species TEXT,
    breed TEXT,
    FOREIGN KEY (ownerID) REFERENCES PetOwners(ownerID)
);
"""

cursor.execute(create_pets)
print("âœ… Pets í…Œì´ë¸” ìƒì„± ì™„ë£Œ!")
print("   - petID: ë°˜ë ¤ë™ë¬¼ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)")
print("   - ownerID: ì£¼ì¸ ID (ì™¸ë˜ í‚¤ â†’ PetOwners)")
print("   - name: ë°˜ë ¤ë™ë¬¼ ì´ë¦„ (í•„ìˆ˜)")
print("   - species: ì¢…ë¥˜ (ê°•ì•„ì§€, ê³ ì–‘ì´ ë“±)")
print("   - breed: í’ˆì¢…")

âœ… Pets í…Œì´ë¸” ìƒì„± ì™„ë£Œ!
   - petID: ë°˜ë ¤ë™ë¬¼ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)
   - ownerID: ì£¼ì¸ ID (ì™¸ë˜ í‚¤ â†’ PetOwners)
   - name: ë°˜ë ¤ë™ë¬¼ ì´ë¦„ (í•„ìˆ˜)
   - species: ì¢…ë¥˜ (ê°•ì•„ì§€, ê³ ì–‘ì´ ë“±)
   - breed: í’ˆì¢…

In [5]:
# â‘¢ ê°ì‹¤ í…Œì´ë¸” (Rooms Table)
# ë¬¸ì œ: í˜¸í…” ê°ì‹¤ ì •ë³´ë¥¼ ì €ì¥í•˜ëŠ” í…Œì´ë¸” ìƒì„±

create_rooms = """
CREATE TABLE Rooms (
    roomID INTEGER PRIMARY KEY AUTOINCREMENT,
    roomNumber TEXT NOT NULL UNIQUE,
    roomType TEXT,
    pricePerNight REAL NOT NULL
);
"""

cursor.execute(create_rooms)
print("âœ… Rooms í…Œì´ë¸” ìƒì„± ì™„ë£Œ!")
print("   - roomID: ê°ì‹¤ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)")
print("   - roomNumber: ê°ì‹¤ ë²ˆí˜¸ (í•„ìˆ˜, ê³ ìœ ê°’)")
print("   - roomType: ê°ì‹¤ íƒ€ì… (ìŠ¤íƒ ë‹¤ë“œ, ë””ëŸ­ìŠ¤, ìŠ¤ìœ„íŠ¸ ë“±)")
print("   - pricePerNight: 1ë°• ê°€ê²© (í•„ìˆ˜)")

âœ… Rooms í…Œì´ë¸” ìƒì„± ì™„ë£Œ!
   - roomID: ê°ì‹¤ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)
   - roomNumber: ê°ì‹¤ ë²ˆí˜¸ (í•„ìˆ˜, ê³ ìœ ê°’)
   - roomType: ê°ì‹¤ íƒ€ì… (ìŠ¤íƒ ë‹¤ë“œ, ë””ëŸ­ìŠ¤, ìŠ¤ìœ„íŠ¸ ë“±)
   - pricePerNight: 1ë°• ê°€ê²© (í•„ìˆ˜)

In [6]:
# â‘£ ì˜ˆì•½ í…Œì´ë¸” (Reservations Table)
# ë¬¸ì œ: ë°˜ë ¤ë™ë¬¼ í˜¸í…” ì˜ˆì•½ ì •ë³´ë¥¼ ì €ì¥í•˜ëŠ” í…Œì´ë¸” ìƒì„±
# í•œ ë°˜ë ¤ë™ë¬¼ì€ ì—¬ëŸ¬ ë²ˆ ì˜ˆì•½í•  ìˆ˜ ìˆê³ , ì˜ˆì•½ì€ ê°ì‹¤ê³¼ ì—°ê²°ë˜ì–´ì•¼ í•¨

create_reservations = """
CREATE TABLE Reservations (
    reservationID INTEGER PRIMARY KEY AUTOINCREMENT,
    petID INTEGER NOT NULL,
    roomID INTEGER NOT NULL,
    checkInDate TEXT NOT NULL,
    checkOutDate TEXT NOT NULL,
    FOREIGN KEY (petID) REFERENCES Pets(petID),
    FOREIGN KEY (roomID) REFERENCES Rooms(roomID)
);
"""

cursor.execute(create_reservations)
print("âœ… Reservations í…Œì´ë¸” ìƒì„± ì™„ë£Œ!")
print("   - reservationID: ì˜ˆì•½ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)")
print("   - petID: ë°˜ë ¤ë™ë¬¼ ID (ì™¸ë˜ í‚¤ â†’ Pets)")
print("   - roomID: ê°ì‹¤ ID (ì™¸ë˜ í‚¤ â†’ Rooms)")
print("   - checkInDate: ì²´í¬ì¸ ë‚ ì§œ (í•„ìˆ˜)")
print("   - checkOutDate: ì²´í¬ì•„ì›ƒ ë‚ ì§œ (í•„ìˆ˜)")

âœ… Reservations í…Œì´ë¸” ìƒì„± ì™„ë£Œ!
   - reservationID: ì˜ˆì•½ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)
   - petID: ë°˜ë ¤ë™ë¬¼ ID (ì™¸ë˜ í‚¤ â†’ Pets)
   - roomID: ê°ì‹¤ ID (ì™¸ë˜ í‚¤ â†’ Rooms)
   - checkInDate: ì²´í¬ì¸ ë‚ ì§œ (í•„ìˆ˜)
   - checkOutDate: ì²´í¬ì•„ì›ƒ ë‚ ì§œ (í•„ìˆ˜)

In [7]:
# â‘¤ ì„œë¹„ìŠ¤ í…Œì´ë¸” (Services Table)
# ë¬¸ì œ: ì˜ˆì•½ ì‹œ í•¨ê»˜ ì˜ˆì•½í•  ìˆ˜ ìˆëŠ” ì¶”ê°€ ì„œë¹„ìŠ¤ ì •ë³´ë¥¼ ì €ì¥í•˜ëŠ” í…Œì´ë¸” ìƒì„±
# ì˜ˆì•½ ì‹œ ë‹¤ì–‘í•œ ì„œë¹„ìŠ¤ë„ í•¨ê»˜ ì˜ˆì•½í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ Reservationsì™€ 1:N ê´€ê³„

create_services = """
CREATE TABLE Services (
    serviceID INTEGER PRIMARY KEY AUTOINCREMENT,
    reservationID INTEGER NOT NULL,
    serviceType TEXT NOT NULL,
    price REAL NOT NULL,
    FOREIGN KEY (reservationID) REFERENCES Reservations(reservationID)
);
"""

cursor.execute(create_services)
print("âœ… Services í…Œì´ë¸” ìƒì„± ì™„ë£Œ!")
print("   - serviceID: ì„œë¹„ìŠ¤ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)")
print("   - reservationID: ì˜ˆì•½ ID (ì™¸ë˜ í‚¤ â†’ Reservations)")
print("   - serviceType: ì„œë¹„ìŠ¤ ì¢…ë¥˜ (í•„ìˆ˜)")
print("   - price: ê°€ê²© (í•„ìˆ˜)")

âœ… Services í…Œì´ë¸” ìƒì„± ì™„ë£Œ!
   - serviceID: ì„œë¹„ìŠ¤ ID (ê¸°ë³¸ í‚¤, ìë™ ì¦ê°€)
   - reservationID: ì˜ˆì•½ ID (ì™¸ë˜ í‚¤ â†’ Reservations)
   - serviceType: ì„œë¹„ìŠ¤ ì¢…ë¥˜ (í•„ìˆ˜)
   - price: ê°€ê²© (í•„ìˆ˜)

In [8]:
# ìƒì„±ëœ í…Œì´ë¸” ëª©ë¡ í™•ì¸
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("ğŸ“‹ ìƒì„±ëœ í…Œì´ë¸” ëª©ë¡:")
for table in tables:
    print(f"   - {table[0]}")

print(f"\nâœ… ì´ {len(tables)}ê°œì˜ í…Œì´ë¸”ì´ ìƒì„±ë˜ì—ˆìŠµë‹ˆë‹¤!")

ğŸ“‹ ìƒì„±ëœ í…Œì´ë¸” ëª©ë¡:
   - PetOwners
   - sqlite_sequence
   - Pets
   - Rooms
   - Reservations
   - Services

âœ… ì´ 6ê°œì˜ í…Œì´ë¸”ì´ ìƒì„±ë˜ì—ˆìŠµë‹ˆë‹¤!

## ë¬¸ì œ 3: ë°ì´í„° ì‚½ì… (INSERT)

ê° í…Œì´ë¸”ì— ìƒ˜í”Œ ë°ì´í„°ë¥¼ ì‚½ì…í•©ë‹ˆë‹¤.

In [9]:
# â‘  ë°˜ë ¤ë™ë¬¼ ì£¼ì¸ ë°ì´í„° ì‚½ì…
insert_owners = """
INSERT INTO PetOwners (name, contact) VALUES
    ('ê¹€ì² ìˆ˜', '010-1234-5678'),
    ('ì´ì˜í¬', '010-2345-6789'),
    ('ë°•ë¯¼ìˆ˜', '010-3456-7890');
"""

cursor.execute(insert_owners)
conn.commit()

# ì‚½ì…ëœ ë°ì´í„° í™•ì¸
df_owners = pd.read_sql_query("SELECT * FROM PetOwners", conn)
print("âœ… PetOwners ë°ì´í„° ì‚½ì… ì™„ë£Œ!")
print("\nğŸ“Š ì‚½ì…ëœ ë°ì´í„°:")
print(df_owners.to_string(index=False))

âœ… PetOwners ë°ì´í„° ì‚½ì… ì™„ë£Œ!

ğŸ“Š ì‚½ì…ëœ ë°ì´í„°:
 ownerID name       contact
       1  ê¹€ì² ìˆ˜ 010-1234-5678
       2  ì´ì˜í¬ 010-2345-6789
       3  ë°•ë¯¼ìˆ˜ 010-3456-7890

In [10]:
# â‘¡ ë°˜ë ¤ë™ë¬¼ ë°ì´í„° ì‚½ì…
insert_pets = """
INSERT INTO Pets (ownerID, name, species, breed) VALUES
    (1, 'ë©ë©ì´', 'ê°•ì•„ì§€', 'ê³¨ë“  ë¦¬íŠ¸ë¦¬ë²„'),
    (1, 'ì•¼ì˜¹ì´', 'ê³ ì–‘ì´', 'í˜ë¥´ì‹œì•ˆ'),
    (2, 'ë½€ì‚', 'ê°•ì•„ì§€', 'í‘¸ë“¤'),
    (3, 'ë‚˜ë¹„', 'ê³ ì–‘ì´', 'ëŸ¬ì‹œì•ˆ ë¸”ë£¨');
"""

cursor.execute(insert_pets)
conn.commit()

# ì‚½ì…ëœ ë°ì´í„° í™•ì¸
df_pets = pd.read_sql_query("SELECT * FROM Pets", conn)
print("âœ… Pets ë°ì´í„° ì‚½ì… ì™„ë£Œ!")
print("\nğŸ“Š ì‚½ì…ëœ ë°ì´í„°:")
print(df_pets.to_string(index=False))

âœ… Pets ë°ì´í„° ì‚½ì… ì™„ë£Œ!

ğŸ“Š ì‚½ì…ëœ ë°ì´í„°:
 petID  ownerID name species   breed
     1        1  ë©ë©ì´     ê°•ì•„ì§€ ê³¨ë“  ë¦¬íŠ¸ë¦¬ë²„
     2        1  ì•¼ì˜¹ì´     ê³ ì–‘ì´    í˜ë¥´ì‹œì•ˆ
     3        2   ë½€ì‚     ê°•ì•„ì§€      í‘¸ë“¤
     4        3   ë‚˜ë¹„     ê³ ì–‘ì´  ëŸ¬ì‹œì•ˆ ë¸”ë£¨

In [11]:
# â‘¢ ê°ì‹¤ ë°ì´í„° ì‚½ì…
insert_rooms = """
INSERT INTO Rooms (roomNumber, roomType, pricePerNight) VALUES
    ('R101', 'ìŠ¤íƒ ë‹¤ë“œ', 50000.00),
    ('R102', 'ìŠ¤íƒ ë‹¤ë“œ', 50000.00),
    ('R201', 'ë””ëŸ­ìŠ¤', 80000.00),
    ('R202', 'ë””ëŸ­ìŠ¤', 80000.00),
    ('R301', 'ìŠ¤ìœ„íŠ¸', 120000.00);
"""

cursor.execute(insert_rooms)
conn.commit()

# ì‚½ì…ëœ ë°ì´í„° í™•ì¸
df_rooms = pd.read_sql_query("SELECT * FROM Rooms", conn)
print("âœ… Rooms ë°ì´í„° ì‚½ì… ì™„ë£Œ!")
print("\nğŸ“Š ì‚½ì…ëœ ë°ì´í„°:")
print(df_rooms.to_string(index=False))

âœ… Rooms ë°ì´í„° ì‚½ì… ì™„ë£Œ!

ğŸ“Š ì‚½ì…ëœ ë°ì´í„°:
 roomID roomNumber roomType  pricePerNight
      1       R101     ìŠ¤íƒ ë‹¤ë“œ        50000.0
      2       R102     ìŠ¤íƒ ë‹¤ë“œ        50000.0
      3       R201      ë””ëŸ­ìŠ¤        80000.0
      4       R202      ë””ëŸ­ìŠ¤        80000.0
      5       R301      ìŠ¤ìœ„íŠ¸       120000.0

In [12]:
# â‘£ ì˜ˆì•½ ë°ì´í„° ì‚½ì…
insert_reservations = """
INSERT INTO Reservations (petID, roomID, checkInDate, checkOutDate) VALUES
    (1, 1, '2024-11-10', '2024-11-12'),
    (2, 2, '2024-11-15', '2024-11-17'),
    (3, 3, '2024-11-20', '2024-11-22'),
    (1, 4, '2024-11-25', '2024-11-27');
"""

cursor.execute(insert_reservations)
conn.commit()

# ì‚½ì…ëœ ë°ì´í„° í™•ì¸
df_reservations = pd.read_sql_query("SELECT * FROM Reservations", conn)
print("âœ… Reservations ë°ì´í„° ì‚½ì… ì™„ë£Œ!")
print("\nğŸ“Š ì‚½ì…ëœ ë°ì´í„°:")
print(df_reservations.to_string(index=False))

âœ… Reservations ë°ì´í„° ì‚½ì… ì™„ë£Œ!

ğŸ“Š ì‚½ì…ëœ ë°ì´í„°:
 reservationID  petID  roomID checkInDate checkOutDate
             1      1       1  2024-11-10   2024-11-12
             2      2       2  2024-11-15   2024-11-17
             3      3       3  2024-11-20   2024-11-22
             4      1       4  2024-11-25   2024-11-27

In [13]:
# â‘¤ ì„œë¹„ìŠ¤ ë°ì´í„° ì‚½ì…
insert_services = """
INSERT INTO Services (reservationID, serviceType, price) VALUES
    (1, 'ë¯¸ìš© ì„œë¹„ìŠ¤', 30000.00),
    (1, 'ì‚°ì±… ì„œë¹„ìŠ¤', 10000.00),
    (2, 'ê°„ì‹ ì œê³µ', 15000.00),
    (3, 'ë¯¸ìš© ì„œë¹„ìŠ¤', 30000.00),
    (3, 'ì‚°ì±… ì„œë¹„ìŠ¤', 10000.00),
    (3, 'ê±´ê°• ì²´í¬', 20000.00);
"""

cursor.execute(insert_services)
conn.commit()

# ì‚½ì…ëœ ë°ì´í„° í™•ì¸
df_services = pd.read_sql_query("SELECT * FROM Services", conn)
print("âœ… Services ë°ì´í„° ì‚½ì… ì™„ë£Œ!")
print("\nğŸ“Š ì‚½ì…ëœ ë°ì´í„°:")
print(df_services.to_string(index=False))

âœ… Services ë°ì´í„° ì‚½ì… ì™„ë£Œ!

ğŸ“Š ì‚½ì…ëœ ë°ì´í„°:
 serviceID  reservationID serviceType   price
         1              1      ë¯¸ìš© ì„œë¹„ìŠ¤ 30000.0
         2              1      ì‚°ì±… ì„œë¹„ìŠ¤ 10000.0
         3              2       ê°„ì‹ ì œê³µ 15000.0
         4              3      ë¯¸ìš© ì„œë¹„ìŠ¤ 30000.0
         5              3      ì‚°ì±… ì„œë¹„ìŠ¤ 10000.0
         6              3       ê±´ê°• ì²´í¬ 20000.0

In [14]:
# ëª¨ë“  ì˜ˆì•½ ì •ë³´ ì¡°íšŒ (ë°˜ë ¤ë™ë¬¼, ì£¼ì¸, ê°ì‹¤ ì •ë³´ í¬í•¨)
query_reservations = """
SELECT
    r.reservationID,
    po.name AS owner_name,
    p.name AS pet_name,
    p.species,
    rm.roomNumber,
    rm.roomType,
    r.checkInDate,
    r.checkOutDate,
    rm.pricePerNight
FROM Reservations r
JOIN Pets p ON r.petID = p.petID
JOIN PetOwners po ON p.ownerID = po.ownerID
JOIN Rooms rm ON r.roomID = rm.roomID;
"""

df_result = pd.read_sql_query(query_reservations, conn)
print("ğŸ“Š ëª¨ë“  ì˜ˆì•½ ì •ë³´:")
print(df_result.to_string(index=False))

ğŸ“Š ëª¨ë“  ì˜ˆì•½ ì •ë³´:
 reservationID owner_name pet_name species roomNumber roomType checkInDate checkOutDate  pricePerNight
             1        ê¹€ì² ìˆ˜      ë©ë©ì´     ê°•ì•„ì§€       R101     ìŠ¤íƒ ë‹¤ë“œ  2024-11-10   2024-11-12        50000.0
             2        ê¹€ì² ìˆ˜      ì•¼ì˜¹ì´     ê³ ì–‘ì´       R102     ìŠ¤íƒ ë‹¤ë“œ  2024-11-15   2024-11-17        50000.0
             3        ì´ì˜í¬       ë½€ì‚     ê°•ì•„ì§€       R201      ë””ëŸ­ìŠ¤  2024-11-20   2024-11-22        80000.0
             4        ê¹€ì² ìˆ˜      ë©ë©ì´     ê°•ì•„ì§€       R202      ë””ëŸ­ìŠ¤  2024-11-25   2024-11-27        80000.0

In [15]:
# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì¢…ë£Œ
conn.close()
print("âœ… ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì¢…ë£Œ ì™„ë£Œ!")
print("âœ… ëª¨ë“  ì‘ì—… ì™„ë£Œ!")

âœ… ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì¢…ë£Œ ì™„ë£Œ!
âœ… ëª¨ë“  ì‘ì—… ì™„ë£Œ!